* {
	padding: 0;
	margin: 0;
}
.page{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}
.header{
	background: linear-gradient(rgba(0,0,0,0),#21273C), url(https://media.discordapp.net/attachments/724264502048063539/1114215981863149630/header.png);
	background-size: cover;
	background-position: center;
}
.content{
	
}
.footer{
	background-color: black; 
	margin-top: auto;
}


.welcome{
	padding: 20px;
	text-align: center;
}
.line{
	padding-left: 30px;
	padding-right: 30px;
}
.members{
	display: flex;
	justify-content: center;
	text-align: center;
}
.member_name{
	color: white;
	text-decoration: underline;
}
.comments{
	background-color: #12131E; 
	padding: 20px;
}
.footer_div{
	display: flex;
}
.links{
	text-decoration: underline;
	margin-right: auto;
	position: relative;
	top: 10px;
	left: 30px;
	width: 200px;
	height:80px;
}
.youtube,
.discord{
	padding-top: 10px;
	padding-bottom: 10px;
}
.ktc_smoke{
	
}
.copyright{
	text-align: right;
	margin-left: auto;
	margin-top: auto;
	position: relative;
	bottom: 25px;
	right: 30px;
	width: 200px;
	height: 20px;
}
