* {
	padding: 0;
	margin: 0;
	font-family: Ubuntu;
	transition: 0.25s;
	color: white;
}

a {
	text-decoration: none
}

img {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.body {
	background: #21273C;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.header {
	position: fixed;
	width: 100%;
	background: black;
	padding: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 20px black;
	z-index: 3;
}

.header_div {
	display: flex;
	align-items: center;
}

.header_icon {
	height: 64px;
}

.header_links {
	display: flex;
	padding: 12px;
}

.header_b {
	padding: 6px 16px 6px 16px;
	margin: 0px 5px 0px 5px;
	display: flex;
	align-items: center;
	font-size: 22px;
	border-radius: 50px;
	background: black;
}

.header_b:hover {
	color: black;
	background: white;
	box-shadow: 0 0 20px rgb(255, 255, 255, 0.25);
}

.translate {
	margin: 0px 30px 0px 5px;
	display: none;
}

.translate_flag {
	padding: 0px 10px 0px 5px;
	height: 25px;
}

.logo {
	margin-top: 88px;
	background: url(../img/header_ktc_studios.png);
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	box-shadow: 0px -120px 20px -120px black inset;
}

.logo.its_autumn {
	background: url(../img/header_its_autumn.png);
	background-size: cover;
	background-position: center;
}

.logo.goddaamntowerdefense {
	background: url(../img/header_goddaamn_tower_defense.png);
	background-size: cover;
	background-position: center;
}

.logo_div {
	display: flex;
}

.logo_img {
	margin: 60px 40px 80px 120px;
	height: 300px;
}

.logo_img.shadow {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.75);
}

.logo_img.border {
	border-radius: 15px;
}

.logo_title {
	background: linear-gradient(135deg, #1B1D33, #170F2B);
	border-radius: 20px;
	margin: auto 100px auto 50px;
	padding: 20px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.75);
}

.title, .description {
	padding: 10px 30px 10px 30px;
	font-family: Russo One;
	text-align: center;
}

.title {
	font-size: 38px;
}

.description {
	font-size: 24px;
}

.section {
	padding: 20px;
	background: linear-gradient(135deg, #1B1D33, #170F2B);
	border-radius: 20px;
	margin: 20px 100px 20px 100px;
}

.links {
	display: flex;
	justify-content: center;
	margin: 30px;
}

.link_text {
	font-size: 32px;
	margin: 10px 15px 10px 10px;
}

.link_b {
	padding: 5px 30px;
	margin: 0px 20px;
	border-radius: 100px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.link_b:hover {
	cursor: pointer;
}

.link_b img {
	margin: 10px;
	height: 50px;
}

.link_b.black {
	background: #0C0C0C;
}
.link_b.black:hover {
	background: black;
}
.link_b.discord_server {
	background: #5662F6;
}
.link_b.discord_server:hover {
	background: #4242E5;
}
.link_b.itch_io {
	background: #FF5F5F;
}
.link_b.itch_io:hover {
	background: #CC434E;
}

.link_b:hover,
.bio_link:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
	transform: translate(0, -10px);
}

.bio_0, .bio_1 {
	display: flex;
	text-align: center;
	padding: 20px 200px;
	align-items: center;
}

.bio_0 {
	background: linear-gradient(135deg, #1B1D33, #170F2B);
	justify-content: left;
}

.bio_1 {
	background: linear-gradient(135deg, #2C394F, #21273C);
	justify-content: right;
}

.bio_avatar_0 {
	transform: rotate(-8deg);
	margin: 10px 40px 10px 10px;
}

.bio_name {
	font-size: 26px;
	font-family: Russo One;
	margin: 10px;
}

.bio_des {
	font-size: 20px;
}

.bio_des.top {
	display: initial;
}

.bio_des.bottom {
	display: none;
}

.bio_avatar_1 {
	transform: rotate(8deg);
	margin: 10px 10px 10px 40px;
}

.bio_links {
	display: flex;
}

.bio_link {
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.bio_link img {
	margin: 10px;
}

.bio_link.p1 {
	position: relative;
	top: 110px;
	left: -30px;
}

.bio_link.p2 {
	position: relative;
	top: 30px;
	left: -60px;
}

.bio_link.p3 {
	position: relative;
	top: 0px;
	left: -30px;
}

.bio_link.youtube {
	background: red;
}
.bio_link.youtube:hover {
	background: #B20312;
}
.bio_link.discord {
	background: #5662F6;
}
.bio_link.discord:hover {
	background: #4242E5;
}
.bio_link.gamejolt {
	background: #2F7F6F;
}
.bio_link.gamejolt:hover {
	background: #0F5B52;
}
.bio_link.itch_io {
	background: #FF5F5F;
}
.bio_link.itch_io:hover {
	background: #CC434E;
}
.bio_link.empty {
	height: 50px;
	width: 50px;
}

.game_name {
	font-size: 26px;
	font-family: Russo One;
	margin-bottom: 10px;
}

.game_content {
	display: flex;
}

.game_icon {
	border-radius: 10px;
	background-color: #170F2B;
}

.game_info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

}

.game_des {
	margin: 0 0 10px 20px;
	font-size: 22px;
}

.game_ver {
	text-align: left;
	margin: 10px 0 30px 20px;
	font-size: 16px;
}

.game_des.pg {
	margin: 0 10px 10px 10px;
}

.game_ver.pg {
	margin: 0 10px;
}



#r1:checked ~ .s1 {
	margin-left: 0;
}

#r2:checked ~ .s1 {
	margin-left: -20%;
}

#r3:checked ~ .s1 {
	margin-left: -40%;
}

#r4:checked ~ .s1 {
	margin-left: -60%;
}

#r5:checked ~ .s1 {
	margin-left: -80%;
}


.screenshot {
	width: 20%;
}

.screenshot:hover {
	cursor: pointer;
}

.slides {
	width: 500%;
	height: 100%;
	display: flex;
}

.section_screenshots {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.screenshots {
	width: 800px;
	height: 420px;
	border-radius: 10px;
	overflow: hidden;
}

.screenshot img {
	width: 100%;
	height: 100%;
}

.screenshots_nav {
	display: flex;
	justify-content: center;
	position: relative;
	margin: 15px 15px 0 15px;
}

.sc_nav_bar {
	width: 50px;
	height: 20px;
	margin: 5px;
	cursor: pointer;
	background-color: #1B1D33;
	border-radius: 5px;
}

.sc_nav_bar:hover {
	background-color: #170F2B;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
	transform: translate(0, -5px);
}

input[name="r"] {
	position: absolute;
	visibility: hidden;
}

.gallery {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(0, 0, 0, 0.5);
	z-index: 4;
	visibility: hidden;
	opacity: 0;
	transition: 0.125s;
}

.gallery.opened {
	visibility: visible;
	opacity: 1;
}

.gallery_img {
	z-index: 4;
	max-width: 95%;
	transform: scale(0.5);
}

.gallery.opened .gallery_img {
	transform: scale(1);
}

.changelog {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	display: grid;
	justify-content: center;
	align-items: center;
	background-color: rgb(0, 0, 0, 0.5);
	padding: 20px;
	text-align: left;
	overflow-y: auto;
	z-index: 4;
	visibility: hidden;
	opacity: 0;
}

.changelog.opened {
	visibility: visible;
	opacity: 1;
}

#changelog_b {
	display: none;
}

.changelog .section {
	margin: 30px 100px 50px 100px;
}

.ch_content {
	margin: 0 10px 10px 10px;
}

.ch_content.title {
	padding: 0;
	text-align: center;
}

.ch_content.cur_ver {
	font-family: Russo One;
	font-size: 28px;
	margin-top: 20px;
}

.ch_content.ver {
	font-family: Russo One;
	font-size: 20px;
	margin-top: 20px;
}

.ch_content.content {
	font-size: 20px;
}


.footer {
	background: black;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: auto;
}

.copyright {
	position: absolute;
	right: 30px;
	color: gray;
}

.copyright:hover {
	color: white;
}


@media (max-width: 960px) {
	.logo_img {
		margin: 40px 40px 40px 120px;
		height: 200px;
	}

	.title {
		font-size: 30px;
	}

	.description {
		font-size: 18px;
	}

	.link_b img {
		height: 40px;
	}

	.link_text {
		font-size: 26px;
	}

	.bio_0, .bio_1 {
		padding: 20px 80px;
	}

	.screenshots {
		width: 600px;
		height: 315px;
	}

	.ch_content.cur_ver {
		font-size: 26px;
	}

	.ch_content.ver {
		font-size: 18px;
	}

	.ch_content.content {
		font-size: 18px;
	}
}

@media (max-width: 720px) {
	.header_icon {
		height: 48px;
	}

	.header_b {
		padding: 6px 16px 6px 16px;
		font-size: 18px;
	}

	.translate_flag {
		height: 20px;
	}

	.logo {
		margin-top: 75px;
	}

	.logo_div {
		flex-direction: column;
		align-items: center;
		padding: 0;
	}

	.logo_title {
		margin: 10px 50px 80px 50px;
		padding: 10px;
	}

	.logo_img {
		margin: 30px 20px 10px 20px;
	}

	.title {
		font-size: 26px;
	}

	.description {
		font-size: 16px;
	}

	.title,
	.description {
		padding: 10px 20px 10px 20px;
	}

	.links {
		flex-direction: column;
		align-items: center;
		margin: 20px;
	}

	.link_b {
		margin: 10px 20px;
	}

	.section {
		flex-direction: column;
		align-items: center;
		margin: 10px 40px 10px 40px;
	}

	.bio_0, .bio_1 {
		flex-direction: column;
	}

	.bio_avatar_0, .bio_avatar_1 {
		height: 150px;
		margin: 10px;
	}

	.bio_des {
		font-size: 18px;
	}

	.bio_des.top {
		display: none;
	}

	.bio_des.bottom {
		display: initial;
	}

	.game_name {
		text-align: center;
		font-size: 24px;
	}

	.game_content {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.game_des {
		margin: 10px;
		font-size: 20px;
	}

	.game_ver {
		margin: 0 10px 10px 10px;
	}

	.changelog {
		align-items: normal;
	}

	.name {
		font-size: 20px;
		text-align: center;
	}

	.ch_content.cur_ver {
		font-size: 22px;
	}

	.ch_content.ver {
		font-size: 15px;
	}

	.ch_content.content {
		font-size: 15px;
	}

	.screenshots {
		width: 400px;
		height: 210px;
	}

	.link_b img {
		height: 40px;
		margin: 5px;
	}

	.link_text {
		font-size: 22px;
	}

	.footer {
		justify-content: left;
	}

	.copyright {
		font-size: 16px;
	}
}

@media (max-width: 380px) {
	.header {
		padding: 8px;
	}

	.logo {
		margin-top: 70px;
	}

	.title {
		font-size: 22px;
	}

	.description {
		font-size: 14px;
	}

	.header_links {
		padding: 16px 0px;
	}

	.header_icon {
		height: 40px;
	}

	.header_b {
		padding: 4px 8px 4px 8px;
		font-size: 16px;
	}

	.translate_flag {
		padding: 0px 10px 0px 2px;
		height: 15px;
	}

	.logo_img {
		height: 130px;
	}

	.logo_title {
		margin: 10px 50px 50px 50px;
	}

	.screenshots {
		width: 300px;
		height: 160px;
	}

	.link_b {
		margin: 10px;
	}

	.link_b img {
		height: 35px;
	}

	.link_text {
		font-size: 20px;
	}
}
