* {
    padding: 0;
    margin: 0;
    transition: 0.25s;
    font-family: Acme;
}

a {
    text-decoration: none
}

.circle {
    border-radius: 50%;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(#C1AAB8, white);
}

.header {
    position: fixed;
    width: 100%;
    background: black;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px black;
    z-index: 1;
}

.profile {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile_nickname {
    margin: 10px;
    font-size: 24px;
}

.tabs_nav {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 5px;
}

.tabs {
    width: 800px;
    height: 420px;
    border-radius: 10px;
    overflow: hidden;
}

#b1:checked ~ .s1 {
    margin-left: 0;
}

#b2:checked ~ .s1 {
    margin-left: -20%;
}

#b1:checked ~ .tabs_nav_b1 {
    color: black;
}

#b1:checked ~ .tabs_nav_b2 {
    color: white;
}

#b2:checked ~ .tabs_nav_b1 {
    color: white;
}

#b2:checked ~ .tabs_nav_b2 {
    color: black;
}

.tab {
    width: 20%;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.tabs_nav_b1, .tabs_nav_b2 {
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    z-index: 1;
}

.tabs_nav_bg {
    position: absolute;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: dimgray;
}

.tabs_nav_slider {
    position: absolute;
    width: 100px;
    height: 50px;
    border-radius: 25px;
}

#b1:checked ~ .tabs_nav_slider {
    margin-left: -50%;
}

#b2:checked ~ .tabs_nav_slider {
    margin-left: 50%;
}

.tabs_nav_slider_i {
    position: absolute;
    width: 90px;
    height: 40px;
    margin: 5px;
    border-radius: 25px;
    background-color: white;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.footer {
    padding: 10px;
    background: black;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: auto;
}

.flinks_group {
    margin-right: 20px;
}

.flink {
    display: flex;
    align-items: center;
    color: gray;
    transition: 0.125s;
    margin: 5px;
}

    .flink:hover {
        color: white;
    }

.flink_text {
    padding-left: 10px;
    font-size: 18px;
}
